.header2 {
    background-color:#3366FF;
    text-align:center;
    font-size:400%;
    font-weight: bold;
    font-family:sans-serif;
    color:#00CCFF;
}
.rain1{
    height:100px;
}

body {
    background-image: url("http://media.giphy.com/media/T337JxgyjSd4k/giphy.gif");
    background-repeat: repeat-x;
}
.row2 {
    text-align:center;
}

.header2 {
    background-color:#3366FF;
    color:#00CCFF;
    height:100px;
}